In [2]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (4.8.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests) (2020.12.5)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4) (1.9.5)
Note: you may need to restart the kernel to use updated packages.

In [50]:
from bs4 import BeautifulSoup
import requests
import numpy as np

In [5]:
#url="https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_fl.html"

In [6]:
# Make a GET request to fetch the raw HTML content
#html_content = requests.get(url).text

In [116]:
url_base='https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_'

In [117]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY", "PR"]

In [118]:
html_string=".html"

In [119]:
URL_list=[]
for i in range(0,len(states)):
    url=url_base+states[i]+html_string
    URL_list.append(url)

In [120]:
URL_list

['https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_AL.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_AK.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_AZ.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_AR.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_CA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_CO.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_CT.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_DC.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_DE.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_FL.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_GA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_HI.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_ID.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_IL.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_IN.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_IA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_KS.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_KY.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_LA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_ME.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MD.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MI.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MN.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MS.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MO.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_MT.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NE.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NV.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NH.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NJ.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NM.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NY.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_NC.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_ND.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_OH.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_OK.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_OR.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_PA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_RI.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_SC.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_SD.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_TN.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_TX.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_UT.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_VT.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_VA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_WA.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_WV.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_WI.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_WY.html',
 'https://tigerweb.geo.census.gov/tigerwebmain/Files/tab20/tigerweb_tab20_tract_2020_PR.html']

In [13]:
import pandas as pd

In [121]:
TABLES=[]
for i in range (0, len(states)):
    table=pd.read_html(URL_list[i])[0]
    TABLES.append(table)

In [137]:
Census_tract_geo=pd.concat(TABLES)

In [138]:
Census_tract_geo

,MTFCC,OID,GEOID,STATE,COUNTY,TRACT,BASENAME,NAME,LSADC,FUNCSTAT,AREALAND,AREAWATER,UR,CENTLAT,CENTLON,INTPTLAT,INTPTLON
0,G5020,20730540092527,1001020100,1,1,20100,201.00,Census Tract 201,CT,S,9825304.0,28435.0,NaN,32.477183,-86.490069,32.481973,-86.491565
1,G5020,20730540092534,1001020200,1,1,20200,202.00,Census Tract 202,CT,S,3320818.0,5669.0,NaN,32.474344,-86.473374,32.475758,-86.472468
2,G5020,20730540092528,1001020300,1,1,20300,203.00,Census Tract 203,CT,S,5349271.0,9054.0,NaN,32.475427,-86.460189,32.474024,-86.459703
3,G5020,20730540092529,1001020400,1,1,20400,204.00,Census Tract 204,CT,S,6384282.0,8408.0,NaN,32.472003,-86.443633,32.471030,-86.444835
4,G5020,2073015481950467,1001020501,1,1,20501,205.01,Census Tract 205.01,CT,S,6203654.0,NaN,NaN,32.447861,-86.422558,32.447861,-86.422558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,G5020,20730593475500,72153750501,72,153,750501,7505.01,Census Tract 7505.01,CT,S,1820185.0,NaN,NaN,18.031211,-66.867347,18.031211,-66.867347
978,G5020,20730593475514,72153750502,72,153,750502,7505.02,Census Tract 7505.02,CT,S,689931.0,NaN,NaN,18.024746,-66.860442,18.024746,-66.860442
979,G5020,20730593475508,72153750503,72,153,750503,7505.03,Census Tract 7505.03,CT,S,3298433.0,1952.0,NaN,18.025228,-66.877641,18.023148,-66.876603
980,G5020,20730593475450,72153750601,72,153,750601,7506.01,Census Tract 7506.01,CT,S,10985103.0,4527.0,NaN,18.017354,-66.839346,18.017808,-66.839070
981,G5020,20730593475521,72153750602,72,153,750602,7506.02,Census Tract 7506.02,CT,S,17522417.0,252953.0,NaN,17.986271,-66.851974,17.985025,-66.853531

In [139]:
#Unique census tract names
len(Census_tract_geo['NAME'].unique())

29057

In [140]:
len(Census_tract_geo['GEOID'].unique())

85336

In [141]:
#Checking for duplicated rows
np.sum(Census_tract_geo.duplicated())

0

In [142]:
Census_tract_geo["STATE"]=pd.to_numeric(Census_tract_geo["STATE"])

In [143]:
First_10_states=Census_tract_geo.loc[Census_tract_geo['STATE']<11]

In [144]:
First_10_states

,MTFCC,OID,GEOID,STATE,COUNTY,TRACT,BASENAME,NAME,LSADC,FUNCSTAT,AREALAND,AREAWATER,UR,CENTLAT,CENTLON,INTPTLAT,INTPTLON
0,G5020,20730540092527,1001020100,1,1,20100,201.00,Census Tract 201,CT,S,9825304.0,28435.0,NaN,32.477183,-86.490069,32.481973,-86.491565
1,G5020,20730540092534,1001020200,1,1,20200,202.00,Census Tract 202,CT,S,3320818.0,5669.0,NaN,32.474344,-86.473374,32.475758,-86.472468
2,G5020,20730540092528,1001020300,1,1,20300,203.00,Census Tract 203,CT,S,5349271.0,9054.0,NaN,32.475427,-86.460189,32.474024,-86.459703
3,G5020,20730540092529,1001020400,1,1,20400,204.00,Census Tract 204,CT,S,6384282.0,8408.0,NaN,32.472003,-86.443633,32.471030,-86.444835
4,G5020,2073015481950467,1001020501,1,1,20501,205.01,Census Tract 205.01,CT,S,6203654.0,NaN,NaN,32.447861,-86.422558,32.447861,-86.422558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,G5020,20730337213792,10005051801,10,5,51801,518.01,Census Tract 518.01,CT,S,75575619.0,1983437.0,NaN,38.559187,-75.634670,38.555469,-75.657086
258,G5020,20730337213721,10005051802,10,5,51802,518.02,Census Tract 518.02,CT,S,12119010.0,502554.0,NaN,38.540082,-75.570292,38.538569,-75.570692
259,G5020,20730337213749,10005051900,10,5,51900,519.00,Census Tract 519,CT,S,86847544.0,238943.0,NaN,38.490688,-75.625049,38.488638,-75.625854
260,G5020,2073015487588023,10005980000,10,5,980000,9800.00,Census Tract 9800,CT,S,13270045.0,5204260.0,NaN,38.771412,-75.095377,38.769947,-75.096402
261,G5020,207303718714064,10005990000,10,5,990000,9900.00,Census Tract 9900,CT,S,NaN,534627917.0,NaN,38.786332,-75.110963,38.864806,-75.225010

In [77]:
s='10005051802'

In [78]:
len(s)

11

In [81]:
# so we can see that First 9 states missing 0 as a first digit 
# when we comparing with the dataset we want to merge

In [145]:
First_9_states=Census_tract_geo.loc[Census_tract_geo['STATE']<10]

In [146]:
First_9_states['GEOID']='0'+First_9_states['GEOID'].astype(str)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [147]:
First_9_states

,MTFCC,OID,GEOID,STATE,COUNTY,TRACT,BASENAME,NAME,LSADC,FUNCSTAT,AREALAND,AREAWATER,UR,CENTLAT,CENTLON,INTPTLAT,INTPTLON
0,G5020,20730540092527,01001020100,1,1,20100,201.00,Census Tract 201,CT,S,9825304.0,28435.0,NaN,32.477183,-86.490069,32.481973,-86.491565
1,G5020,20730540092534,01001020200,1,1,20200,202.00,Census Tract 202,CT,S,3320818.0,5669.0,NaN,32.474344,-86.473374,32.475758,-86.472468
2,G5020,20730540092528,01001020300,1,1,20300,203.00,Census Tract 203,CT,S,5349271.0,9054.0,NaN,32.475427,-86.460189,32.474024,-86.459703
3,G5020,20730540092529,01001020400,1,1,20400,204.00,Census Tract 204,CT,S,6384282.0,8408.0,NaN,32.472003,-86.443633,32.471030,-86.444835
4,G5020,2073015481950467,01001020501,1,1,20501,205.01,Census Tract 205.01,CT,S,6203654.0,NaN,NaN,32.447861,-86.422558,32.447861,-86.422558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,G5020,20730344421367,09015906100,9,15,906100,9061.00,Census Tract 9061,CT,S,103456495.0,683775.0,NaN,41.697879,-71.999775,41.693960,-72.009118
879,G5020,20730344427876,09015907100,9,15,907100,9071.00,Census Tract 9071,CT,S,34472914.0,812212.0,NaN,41.721076,-71.918734,41.719163,-71.928535
880,G5020,20730344427902,09015907200,9,15,907200,9072.00,Census Tract 9072,CT,S,34872473.0,525523.0,NaN,41.720013,-71.869379,41.720454,-71.869493
881,G5020,20730344427922,09015907300,9,15,907300,9073.00,Census Tract 9073,CT,S,40498687.0,142661.0,NaN,41.661952,-71.906926,41.656296,-71.904217
882,G5020,20730344430386,09015908100,9,15,908100,9081.00,Census Tract 9081,CT,S,70499824.0,171521.0,NaN,41.702497,-71.818477,41.701200,-71.815988

In [148]:
Rest_states=Census_tract_geo.loc[Census_tract_geo['STATE']>=10]

In [149]:
Main_table=pd.concat([First_9_states,Rest_states])

In [150]:
Main_table

,MTFCC,OID,GEOID,STATE,COUNTY,TRACT,BASENAME,NAME,LSADC,FUNCSTAT,AREALAND,AREAWATER,UR,CENTLAT,CENTLON,INTPTLAT,INTPTLON
0,G5020,20730540092527,01001020100,1,1,20100,201.00,Census Tract 201,CT,S,9825304.0,28435.0,NaN,32.477183,-86.490069,32.481973,-86.491565
1,G5020,20730540092534,01001020200,1,1,20200,202.00,Census Tract 202,CT,S,3320818.0,5669.0,NaN,32.474344,-86.473374,32.475758,-86.472468
2,G5020,20730540092528,01001020300,1,1,20300,203.00,Census Tract 203,CT,S,5349271.0,9054.0,NaN,32.475427,-86.460189,32.474024,-86.459703
3,G5020,20730540092529,01001020400,1,1,20400,204.00,Census Tract 204,CT,S,6384282.0,8408.0,NaN,32.472003,-86.443633,32.471030,-86.444835
4,G5020,2073015481950467,01001020501,1,1,20501,205.01,Census Tract 205.01,CT,S,6203654.0,NaN,NaN,32.447861,-86.422558,32.447861,-86.422558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,G5020,20730593475500,72153750501,72,153,750501,7505.01,Census Tract 7505.01,CT,S,1820185.0,NaN,NaN,18.031211,-66.867347,18.031211,-66.867347
978,G5020,20730593475514,72153750502,72,153,750502,7505.02,Census Tract 7505.02,CT,S,689931.0,NaN,NaN,18.024746,-66.860442,18.024746,-66.860442
979,G5020,20730593475508,72153750503,72,153,750503,7505.03,Census Tract 7505.03,CT,S,3298433.0,1952.0,NaN,18.025228,-66.877641,18.023148,-66.876603
980,G5020,20730593475450,72153750601,72,153,750601,7506.01,Census Tract 7506.01,CT,S,10985103.0,4527.0,NaN,18.017354,-66.839346,18.017808,-66.839070
981,G5020,20730593475521,72153750602,72,153,750602,7506.02,Census Tract 7506.02,CT,S,17522417.0,252953.0,NaN,17.986271,-66.851974,17.985025,-66.853531

In [157]:
Main_table.loc[Main_table['STATE']==11]

,MTFCC,OID,GEOID,STATE,COUNTY,TRACT,BASENAME,NAME,LSADC,FUNCSTAT,AREALAND,AREAWATER,UR,CENTLAT,CENTLON,INTPTLAT,INTPTLON
0,G5020,2073015504267603,11001000101,11,1,101,1.01,Census Tract 1.01,CT,S,199776.0,5261.0,NaN,38.908632,-77.054590,38.907699,-77.054777
1,G5020,2073015504267577,11001000102,11,1,102,1.02,Census Tract 1.02,CT,S,1706484.0,519354.0,NaN,38.905541,-77.061266,38.905422,-77.062005
2,G5020,20730331302610,11001000201,11,1,201,2.01,Census Tract 2.01,CT,S,505004.0,NaN,NaN,38.909217,-77.074342,38.909217,-77.074342
3,G5020,20730331302628,11001000202,11,1,202,2.02,Census Tract 2.02,CT,S,776435.0,439661.0,NaN,38.906167,-77.069458,38.906305,-77.069636
4,G5020,20730331304103,11001000300,11,1,300,3.00,Census Tract 3,CT,S,1042157.0,2305.0,NaN,38.917549,-77.075766,38.917910,-77.074873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,G5020,20730331305634,11001010900,11,1,10900,109.00,Census Tract 109,CT,S,2381015.0,2933566.0,NaN,38.811622,-77.024885,38.813236,-77.023848
202,G5020,2073015504267491,11001011001,11,1,11001,110.01,Census Tract 110.01,CT,S,152450.0,NaN,NaN,38.874166,-77.015742,38.874166,-77.015742
203,G5020,2073015504267484,11001011002,11,1,11002,110.02,Census Tract 110.02,CT,S,498122.0,367023.0,NaN,38.867837,-77.018405,38.868179,-77.018245
204,G5020,20730331305191,11001011100,11,1,11100,111.00,Census Tract 111,CT,S,5718693.0,366232.0,NaN,38.916132,-76.966472,38.915861,-76.968163
205,G5020,2073015504267431,11001980000,11,1,980000,9800.00,Census Tract 9800,CT,S,6514228.0,4996439.0,NaN,38.880155,-77.035217,38.880993,-77.036322

In [151]:
Census_Tracts_Geo_Data=Main_table[['GEOID','CENTLAT','CENTLON']]

In [152]:
Census_Tracts_Geo_Data

           GEOID    CENTLAT    CENTLON
0    01001020100  32.477183 -86.490069
1    01001020200  32.474344 -86.473374
2    01001020300  32.475427 -86.460189
3    01001020400  32.472003 -86.443633
4    01001020501  32.447861 -86.422558
..           ...        ...        ...
977  72153750501  18.031211 -66.867347
978  72153750502  18.024746 -66.860442
979  72153750503  18.025228 -66.877641
980  72153750601  18.017354 -66.839346
981  72153750602  17.986271 -66.851974

[85336 rows x 3 columns]

In [153]:
#Now lets write this file to excel so we can work with it in other books

In [154]:
#Saving the table to this PC
Census_Tracts_Geo_Data.to_excel("Census_Tracts_Geo_Data.xlsx",sheet_name='Cens,onus_Tracts_Geo_Data')